# CODEOWNERS file

# Default: all files in the repo
*       @Oliver-Goth

# Example: docs folder owned by one person
/docs/  @Oliver-Goth

# Example: Python code owned by backend team
/src/   @Oliver-Goth

# Example: tests folder owned by QA
/tests/ @Oliver-Goth
